@import './mixin.scss';
@import './transition.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

.cus-padding{
  padding: 30px;
}
.cus-radius{
  border-radius: 20px;
}

.cus-flex{
  display: flex;
  flex-direction: row;
}
.cus-row-left{
  justify-content: flex-start;
}
.cus-row-right{
  justify-content:flex-end;
}
.cus-row-center{
  justify-content: center;
}
.cus-row-around{
  justify-content: space-around;
}
.cus-row-between{
  justify-content: space-between;
}
.cus-col-left{
  flex-direction: column;
  align-items: flex-start;
}
.cus-col-right{
  flex-direction: column;
  align-items: flex-end;
}
.cus-col-center{
  flex-direction: column;
  align-items: center;
}
